<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
<script type="text/javascript">

// namespace for this application
var cdia = {};

cdia.init = function() {
    // load category filter dropdown
    $.getJSON('shopping_list.php?action=get_categories').done(cdia.category_list);
    
    cdia.events();
}

cdia.events = function() {
    // filter dropdown event
    $('select[name="category_filter"]').on('change', function(e) {
        var category = $(this).val();
        
        if (category === 'all') {
            $.getJSON('shopping_list.php?action=get_all').done(cdia.product_table);
        } else {
            $.getJSON('shopping_list.php?action=get_by_category&category='+category).done(cdia.product_table);
        }
    });
    
    // add category form event
    $('#add_item').on('submit', function(e) {
        e.preventDefault();
        
        $.post('shopping_list.php?action=add_item', $(this).serialize()).done(function(response) {
            
            // trigger change events to reload the content for this category to see the new item
            $('select[name="category_filter"]').val($('select[name="category"]').val()).change();
        });
    });
}

cdia.category_list = function(response) {
    for (var i = 0; i < response.length; i++) {
        var option = '<option value="'+response[i]+'">'+response[i]+'</option>';
        
        // populate both category dropdowns
        $('select[name="category_filter"]').append(option);
        $('select[name="category"]').append(option);
    }
}

cdia.product_table = function(response) {
    var sum = 0;
    
    $('tbody').empty();
    
    for (var category in response) {
        for (var i = 0; i < response[category].length; i++) {
            // template for product rows
            var row_template = _.template($('#product_table_row').html(), {
                'category': category,
                'item': response[category][i].name,
                'price': response[category][i].price
            });
            
            $('tbody').append(row_template);
            
            // add price to sum
            sum += response[category][i].price;
        }
    }
    
    // template for footer row
    var footer_template = _.template($('#product_table_footer').html(), {
        'total': sum.toFixed(2)
    });
    
    $('tfoot').html(footer_template);
}

$(function() {
    cdia.init();
});

</script>
</head>
<body>
    
<p><select name="category_filter">
    <option value="">Select One</option>
    <option value="all">All</option>
</select></p>
    
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Total:</td>
            <td>$0.00</td>
        </tr>
    </tfoot>
</table>

<br />

<form id="add_item">
    <p>Category: <select name="category">
        <option value="">Select One</option>
    </select></p>
    
    <p>Item: <input type="text" name="item" /></p>
    
    <p>Price: <input type="text" name="price" /></p>
    
    <p><input type="submit" name="submit" value="Submit" /></p>
</form>

<script type="text/template" id="product_table_row">
    <tr>
        <td><%= category %></td>
        <td><%= item %></td>
        <td><%= price %></td>
    </tr>
</script>

<script type="text/template" id="product_table_footer">
    <tr>
        <td></td>
        <td>Total:</td>
        <td>$ <%= total %></td>
    </tr>
</script>

</body>
</html>